<h1 mat-dialog-title>Editar {{data.name}}</h1>
<form (submit)="onSubmit()">
<div mat-dialog-content>
    <mat-form-field id="email">
      <input matInput placeholder="Email" #email name="email" type="email"
      [formControl]="emailFormControl" [errorStateMatcher]="matcher">
      <mat-hint>Conta com acesso a {{data.name}}</mat-hint>
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Email inválido.
    </mat-error>
    </mat-form-field>
    <mat-form-field id="team">
      <input matInput [(ngModel)]="data.team" placeholder="Time"  [matAutocomplete]="auto" #team name="team">
      <mat-autocomplete #auto="matAutocomplete" class="nameauto">
          <mat-option *ngFor="let team of allTeams" [value]="team" class="notranslate">
            {{ team }}
          </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <mat-form-field id="wr">
      <input matInput [(ngModel)]="data.winrate" placeholder="Desempenho" #wr name="wr" type="number"  min="0" max="100" step="1" >
    </mat-form-field><span id="wrpct">% {{getTierIcon(data.winrate)}}</span>
    <mat-form-field id="badges">
      <input matInput [(ngModel)]="data.badges" placeholder="Insígnias" #badges name="badges" type="number"  min="0" max="100" step="1" >
    </mat-form-field>
    <mat-form-field id="medals">
      <input matInput [(ngModel)]="data.medals" placeholder="Awards" #medals name="medals" type="number"  min="0" max="100" step="1" >
    </mat-form-field>
    <mat-form-field id="code">
      <input matInput [(ngModel)]="data.code" placeholder="Código de Amizade" name="code" type="number"
      pattern="[0-9]" min="0" max="999999999999" step="1">
    </mat-form-field>
    <p id="rolesLabel">Acesso</p>
    <div id="roles">
      <mat-checkbox [(ngModel)]="roles.admin" name="rolesAdmin">Admin</mat-checkbox>
      <mat-checkbox [(ngModel)]="roles.leader" name="rolesLeader">Líder de equipe</mat-checkbox>
      <mat-checkbox [(ngModel)]="roles.friends" name="rolesFriends">Amizades da equipe</mat-checkbox>
    </div>
    <br>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="submit" (click)="onSubmit()" [mat-dialog-close]="data" cdkFocusInitial>Salva</button>
    <button mat-button (click)="onNoClick()">Cancela</button>
  </div>
</form>
