<h1 mat-dialog-title>Dados de {{data.nome}}</h1>
<div mat-dialog-content>
  <p>Edite os campos</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.email" placeholder="Email">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="data.time" placeholder="Time">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="data.winrate" placeholder="Desempenho"  type="number"  min="0" max="100" step="1" >
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="data.badges" placeholder="Insígnias"  type="number"  min="0" max="100" step="1" >
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="data.medals" placeholder="Awards"  type="number"  min="0" max="100" step="1" >
  </mat-form-field>
  <!-- <mat-form-field>
    <input matInput [(ngModel)]="data.roles" placeholder="Awards" >
  </mat-form-field> -->
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancela</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Salva</button>
</div>
