#email {
  // background-color: red;
  margin-bottom: 10px;
  width: 210px;
}
mat-hint {
  // width: 250px !important;
  font-size: 0.9em;
  // overflow: hidden;
  // word-wrap: break-word;
  // background-color: red;
}

#wr {
  width: 80px;
  // text-align: right;
}
#badges, #medals {
  width: 50px;
}
#wrpct {
  margin-left: -55px;
  margin-right: 20px;
}

#rolesLabel {
  line-height: 0;
  font-size: 0.8em;
  color: rgba($color: #fff, $alpha: 0.7)
}
#roles {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

mat-form-field {
  margin: 0 3px;
}

.mat-dialog-content {
  padding: 0 12px;
}
