.nameff {
  width: 192px;
  margin: 3px;
}
.fastff {
  width: 114px;
  margin: 3px;
}

.leagueff {
  width: 100px;
  margin: 3px;
}

.minivff {
  width: 206px;
  margin: 3px;
}

.ivff {
  width: 100px;
  margin: 3px;
}

.nameauto {
  width: 300px;
}

.ivnumber {
  width: 80px;
}

.maincard {
  width: fit-content;
  min-width: 400px;
}

.resultcard {
  width: fit-content;
  min-width: 400px;
}

