<mat-card>
  Choose a Pokémon, a league and input its IVs. The app will tell you how good those IVs are for PvP.
</mat-card>

<div class="maincontainer">
  <mat-card class="maincard">
    <mat-card-content>
      <form (submit)="ivForm.form.valid && onSearch(ivForm)" #ivForm="ngForm">
        <mat-form-field class="nameff">
          <input type="text" matInput placeholder="Name" name="pokename" [(ngModel)]="name" [matAutocomplete]="auto" (ngModelChange)="allnames = filterNames(name)" #pokename="ngModel" required />
          <mat-error>{{ getErrorName() }}</mat-error>
          <!-- <mat-error *ngIf="pokename.invalid">{{getErrorName()}}</mat-error> -->
          <mat-autocomplete #auto="matAutocomplete" class="nameauto">
            <mat-option *ngFor="let poke of allnames" [value]="poke">
              {{ poke }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="fastff">
          <mat-select placeholder="Fast Attack" [(ngModel)]="yourfastmove" name="fastname">
            <mat-option *ngFor="let move of listOfFastMoves" [value]="move">{{ move.name }}</mat-option>
          </mat-select>
        </mat-form-field>

        <br />

        <mat-form-field class="ivff">
          <input class="ivnumber" matInput type="number" placeholder="Attack IV" [(ngModel)]="atk" name="atkiv" value="15" min="0" max="15" step="1" #atkiv="ngModel" required />
          <mat-error *ngIf="true">{{ getErrorIV() }}</mat-error>
        </mat-form-field>
        <mat-form-field class="ivff">
          <input class="ivnumber" matInput type="number" placeholder="Defense IV" [(ngModel)]="def" name="defiv" value="15" min="0" max="15" step="1" required #defiv="ngModel" />
          <mat-error *ngIf="true">{{ getErrorIV() }}</mat-error>
        </mat-form-field>
        <mat-form-field class="ivff">
          <input class="ivnumber" matInput type="number" placeholder="HP IV" [(ngModel)]="hp" name="hpiv" value="15" min="0" max="15" step="1" required #hpiv="ngModel" />
          <mat-error *ngIf="true">{{ getErrorIV() }}</mat-error>
        </mat-form-field>
        <br />

        <mat-form-field class="leagueff">
          <mat-select placeholder="League" [(ngModel)]="league" name="league">
            <mat-option value="great">Great</mat-option>
            <mat-option value="ultra">Ultra</mat-option>
            <mat-option value="master">Master</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="minivff">
          <mat-select placeholder="Min IV" [(ngModel)]="miniv" name="miniv">
            <mat-option value="0">0 Wild Catch</mat-option>
            <mat-option value="12">12 Lucky Trade</mat-option>
            <mat-option value="10">10 Hatch/Quest/Raid</mat-option>
            <mat-option value="5">5 Best Trade</mat-option>
            <mat-option value="4">4 Weather Boost</mat-option>
            <mat-option value="3">3 Ultra Trade</mat-option>
            <mat-option value="2">2 Great Trade</mat-option>
            <mat-option value="1">1 Good Trade</mat-option>
            <mat-option value="0">0 Wild Catch</mat-option>
          </mat-select>
        </mat-form-field>

        <br />

        <br />

        <button mat-raised-button color="primary">Search</button>
        <br />
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card class="resultcard">
    <mat-card-content [innerHtml]="summary">
      <!-- {{ result }} -->
    </mat-card-content>

    <app-table data="pks"></app-table>
  </mat-card>
</div>
