.nameff {
  width: 153px;
  margin: 3px;
}

.leagueff {
  width: 153px;
  margin: 3px;
}

.ivff {
  width: 100px;
  margin: 3px;
}

.ivnumber {
  width: 80px;
}

.resultcard {
  width: fit-content;
  min-width: 400px;
}
