.nameff {
  width: 192px;
  margin: 3px;
}
.fastff {
  width: 114px;
  margin: 3px;
}

.leagueff {
  width: 100px;
  margin: 3px;
}

.minivff {
  width: 206px;
  margin: 3px;
}

.ivff {
  width: 100px;
  margin: 3px;
}

.nameauto {
  width: 300px;
}

.ivnumber {
  width: 80px;
}

.maincontainer {
  // background-color: red;
  width: fit-content;
  padding: 4px;
}

.maincard {
  // width: fit-content;
  width: 100%;
  padding: 0;
  margin-bottom: 4px;
  // min-width: 600px;
}

.maincard mat-card-content {
  padding: 16px;
}

.resultcard {
  width: fit-content;
  min-width: 600px;
}

