.options {
  margin-left: 40px;
}

.options .mat-slide-toggle {
  margin-left: 5px;
}

.tiersAndGroups {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
}

.tiers {
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tier {
  width: 200px;
  margin: 3px;
  padding: 4px;
}

.groups {
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.group {
  // max-width: 200px;
  // min-width: 180px;
  width: 200px;
  margin: 3px;
  padding: 4px;
}

.nameplate {
  width: 100%;
  // max-width: 150px;
  display: flex;
  align-items: flex-end;
  // justify-content: space-between;
  overflow: hidden;
}
.nameplate a {
  overflow: hidden !important;
  width: 100%;
}

.wr {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  margin-left: auto;
}

.teamIcon {
  height: 20px;
  width: 20px;
}

.rButt {
  margin-left: auto;
  line-height: 26px !important;
}

.addButton .mat-raised-button {
  line-height: 26px !important;
  padding-left: 4px;
  overflow: hidden;
  margin-top: 3px;
  margin-left: 3px;
}

.addButton {
  margin-left: auto;
}

.addButton .mat-icon {
  height: 20px;
  width: 240x;
  line-height: 20px;
}

.cannot {
  // display: none !important;
  background-color: grey !important;
}

.selected {
  box-shadow: 0 0 3pt 2pt #ffeb3b;
}
