<span *ngIf="!tourney">
  Torneio não encontrado
</span>
<div *ngIf="tourney">
  <mat-card>
    <a [routerLink]="['.']">
        {{ tourney.getName() }}
    </a>
    <span class="options">
      <a [routerLink]="['register']">
        Registro
      </a>
      <a [routerLink]="['slmaker']" *ngIf="tourney.getFormat() === 'sl'">
        Editar Grupos
      </a>
      <a [routerLink]="['maker']" *ngIf="tourney.getFormat() === 'main'">
        Tabela
      </a>
    </span>
  </mat-card>
  <br />

  <mat-card class="tourneyCard">
    Formato: {{ tourney.getFormat() }} <br>
    Tema: {{ tourney.getTheme() }} <br>

    <mat-card *ngIf="tourney.players.length > 0">
      Inscritos
      <mat-divider></mat-divider>
      <ng-container *ngFor="let p of tourney.players">
        <div>
            <img [src]="p.getTeamIcon()" class="teamIcon" />
            <a [routerLink]="['/liga/m', p.getName()]">
              {{ p.getName() }}
            </a>
        </div>
      </ng-container>
    </mat-card>
  </mat-card>

</div>
