.full-width-table {
  width: 100%;
}

.td {
  max-width: 200px !important;
}

.mat-column-fm {
  max-width: 150px;
  overflow-wrap: break-word;
}

.mat-column-cm {
  // flex: 0 0 100px;
  max-width: 150px;
  overflow-wrap: break-word;
}
