.playercard {
  width: 382px;
  margin: 6px;
}

.teamAvatar {
  height: 40px;
  width: 40px;
}

.playerParam {
  display: flex;
  justify-content: space-between;
}

.codeLabel {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.2em;
}
.codes {
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.2em;
}
.code2 {
  // color: rgba(200, 255, 200, 0.7);
  margin: 0 0.3em;
}

.friendcontainer {
  display: flex;
}

.friends {
  width: 200px;
  margin-right: 0px;
  margin-left: 6px;
  padding: 10px 2px !important;
}


.friendcontainer .mat-list-item {
  height: 26px !important;
}

.mat-list-item-content{
  width: 100%;
  padding-left: 4px !important;
  padding-right: 4px !important;
}

.friendNameplate {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.wr {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
}

.teamIcon {
  height: 20px;
  width: 20px;
}

.friendsHeader {
  display: flex;
}

.filterff {
  width: 100px;
  height: 0px;
  top: -12px;
  font-size: 0.9em;
}
