<mat-card *ngIf="!player" class="warning">
  Não pude encontrar um membro chamado {{ name }}!
</mat-card>

<mat-card *ngIf="player">
  <p>
    Membro
    {{ player.getName() }} é um jogador
    {{ player.getTierIcon() }}
    {{ player.getNivel() }} com {{ player.getWinrate() }}% de aproveitamento
    da equipe
    <img [src]="player.getTeamIcon()" class="teamIcon">
    {{ player.getTeam() }}.
  </p>

  <mat-form-field class="filterff">
    <mat-select placeholder="Filtro" [(ngModel)]="filter" (selectionChange)="changeFilter($event)" name="filter" class="notranslate">
      <mat-option value="all">Todos</mat-option>
      <mat-option value="superliga4">Superliga IV</mat-option>
      <mat-option value="liguinha3">Liguniha III</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="friendcontainer">
    <mat-card class="friends">
      <mat-list>
        <h3 mat-subheader>Amigos ({{ friends.length }})</h3>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Inimigos ({{ enemies.length }}):</h3>
        <h3 mat-subheader>Diamantes ({{ dia.length }}):</h3>
        <mat-list-item *ngFor="let friend of dia">
          {{ friend.getTierIcon() }}
          <img [src]="friend.getTeamIcon()" class="teamIcon">
          <a [routerLink]="['/liga/m', friend.getName()]">
            {{ friend.getName() }}
          </a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Rubi ({{ rub.length }}):</h3>
        <mat-list-item *ngFor="let friend of rub">
          {{ friend.getTierIcon() }}
          <img [src]="friend.getTeamIcon()" class="teamIcon">
          <a [routerLink]="['/liga/m', friend.getName()]">
            {{ friend.getName() }}
          </a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Safira ({{ saf.length }}):</h3>
        <mat-list-item *ngFor="let friend of saf">
          {{ friend.getTierIcon() }}
          <img [src]="friend.getTeamIcon()" class="teamIcon">
          <a [routerLink]="['/liga/m', friend.getName()]">
            {{ friend.getName() }}
          </a>
        </mat-list-item>

        <mat-divider></mat-divider>
        <h3 mat-subheader>Colegas ({{ colleagues.length }})</h3>
        <mat-list-item *ngFor="let friend of colleagues">
          {{ friend.getTierIcon() }}
          <img [src]="friend.getTeamIcon()" class="teamIcon">
          <a [routerLink]="['/liga/m', friend.getName()]">
            {{ friend.getName() }}
          </a>
        </mat-list-item>

      </mat-list>
    </mat-card>

    <mat-card class="friends nonfriends">
      <mat-list>
        <h3 mat-subheader>Falta amizade ({{ nonfriends.length }})</h3>
        <mat-divider></mat-divider>
        <br>
        <mat-list-item *ngFor="let friend of nonfriends">
            {{ friend.getTierIcon() }}
            <img [src]="friend.getTeamIcon()" class="teamIcon">
            <a [routerLink]="['/liga/m', friend.getName()]">
              {{ friend.getName() }}
            </a>
          </mat-list-item>

      </mat-list>
    </mat-card>
  </div>
</mat-card>
