.codeLabel {
  color: rgba(255, 255, 255, 0.7);
}

.code1, .code2, .code3 {
  color: rgba(255, 255, 255, 0.9);
}

.code2 {
  // color: rgba(200, 255, 200, 0.7);
  margin: 0 0.3em;
}

.friendcontainer {
  display: flex;
}

.friends {
  width: 200px;
  margin-right: 10px;
}


.friendcontainer .mat-list-item {
  height: 26px !important;
}

.mat-list-item-content{
  width: 100%;
  padding-left: 4px !important;
  padding-right: 4px !important;
}

.friendNameplate {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.wr {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
}

.teamIcon {
  height: 20px;
  width: 20px;
}

.friendsHeader {
  display: flex;
}

.filterff {
  width: 100px;
  height: 0px;
  top: -12px;
  font-size: 0.9em;
}
