<mat-card *ngIf="!player" class="warning">
  Não pude encontrar um membro chamado {{ name }}!
</mat-card>
<div *ngIf="player" class="allCardsContainer">
  <mat-card class="playercard">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"><img [src]="player.getTeamIcon()" class="teamAvatar" /></div>
      <mat-card-title>{{ player.getName() }}</mat-card-title>
      <mat-card-subtitle>{{ player.getTeam() }}</mat-card-subtitle>
      <div class="edit" *ngIf="canIedit">
        <button mat-mini-fab aria-label="Edit" (click)="onEdit()">
          <mat-icon>edit</mat-icon>
          <br><div class="editButtonLabel">editar</div>
        </button>
      </div>
    </mat-card-header>
    <mat-card-content>
      <p>
        Membro
        {{ player.getName() }} é um jogador
        {{ player.getTierIcon() }}
        {{ player.getNivel() }} com {{ player.getWinrate() }}% de aproveitamento
        <span *ngIf="player.getBadges()">e {player.getBadges(), plural, =1 {1 insígnia} other {{{player.getBadges()}} insígnias}}</span>
        da equipe
        {{ player.getTeam() }}.
      </p>
      <div class="playerParam">
        <span class="codeLabel">Time</span>
        <span class="codes">{{ player.getTeam() }}</span>
      </div>
      <div class="playerParam">
        <span class="codeLabel">Desempenho</span>
        <span class="codes">{{ player.getWinrate() }}%</span>
      </div>
      <div class="playerParam">
        <span class="codeLabel">Nível</span>
        <span class="codes">{{ player.getTierIcon() }}{{ player.getNivel() }}</span>
      </div>
      <div class="playerParam">
        <span class="codeLabel">Insígnias</span>
        <span class="codes">{{ player.getBadges() || 0 }}</span>
      </div>
      <div class="playerParam">
        <span class="codeLabel">Awards</span>
        <span class="codes">{{ player.getMedals() || 0 }}</span>
      </div>
      <div class="playerParam">
        <span class="codeLabel">Rank Liga VII</span>
        <span class="codes" [ngClass]="player.getRankByTourney('liga7')">{{ player.getRankByTourney('liga7') }}</span>
      </div>
      <div *ngIf="player.getCode()" class="playerParam">
        <span class="codeLabel">Acesso</span>
        <span class="codes">{{ player.getRolesDesc() }}</span>
      </div>
      <span *ngIf="player.getCode()"><br><mat-divider></mat-divider><br></span>
      <div *ngIf="player.getCode()" class="playerParam">
        <span class="codeLabel">Código de amizade </span>
        <span class="codes">
          <span class="code1">{{ player.getCode(1) }}</span><span class="code2">{{ player.getCode(2) }}</span><span class="code3">{{ player.getCode(3) }}</span>
        </span>
      </div>
    </mat-card-content>
  </mat-card>

  <div class="friendcontainer" *ngIf="player" [ngClass]="editModeFriends?'canEdit':'cannotEdit'" >
    <mat-card class="friends">
      <mat-list>
        <div class="friendsHeader">
          <h3 mat-subheader>Amigos ({{ friends.length }})</h3>
          <mat-form-field class="filterff">
            <mat-select
              placeholder=""
              [(ngModel)]="filter"
              (selectionChange)="changeFilter($event)"
              name="filter"
              class="notranslate"
            >
              <mat-option value="all">Todos</mat-option>
              <mat-option value="superliga4">Superliga IV</mat-option>
              <mat-option value="liguinha3">Liguinha III</mat-option>
              <mat-option value="liga7-diamond">Diamond VII Liga</mat-option>
              <mat-option value="liga7-gold">Gold VII Liga</mat-option>
              <mat-option value="liga7-silver">Silver VII Liga</mat-option>
              <mat-option value="liga7-bronze">Bronze VII Liga</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Inimigos ({{ enemies.length }}):</h3>
        <h3 mat-subheader>Diamantes ({{ dia.length }}):</h3>
        <mat-list-item *ngFor="let friend of dia">
          <div class="friendNameplate" *ngIf="!editModeFriends">
            <span>
              {{ friend.getTierIcon() }}
            </span>
            <img [src]="friend.getTeamIcon()" class="teamIcon" />
            <a [routerLink]="['/liga/m', friend.getName()]" queryParamsHandling="merge">
              {{ friend.getName() }}
            </a>
            <span class="wr">
              {{ friend.getWinrate() }}%
            </span>
          </div>
          <span *ngIf="editModeFriends" class="editFriendButton">
            <button mat-raised-button (click)="onUpdateFriend(friend, false)" class="bgRed"><mat-icon>remove_circle_outline</mat-icon>{{ friend.getName() }}</button>
          </span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Rubi ({{ rub.length }}):</h3>
        <mat-list-item *ngFor="let friend of rub">
          <div class="friendNameplate" *ngIf="!editModeFriends">
            <span>
              {{ friend.getTierIcon() }}
            </span>
            <img [src]="friend.getTeamIcon()" class="teamIcon" />
            <a [routerLink]="['/liga/m', friend.getName()]" queryParamsHandling="merge">
              {{ friend.getName() }}
            </a>
            <span class="wr">
              {{ friend.getWinrate() }}%
            </span>
          </div>
          <span *ngIf="editModeFriends" class="editFriendButton">
            <button mat-raised-button (click)="onUpdateFriend(friend, false)" class="bgRed"><mat-icon>remove_circle_outline</mat-icon>{{ friend.getName() }}</button>
          </span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Safira ({{ saf.length }}):</h3>
        <mat-list-item *ngFor="let friend of saf">
          <div class="friendNameplate" *ngIf="!editModeFriends">
            <span>
              {{ friend.getTierIcon() }}
            </span>
            <img [src]="friend.getTeamIcon()" class="teamIcon" />
            <a [routerLink]="['/liga/m', friend.getName()]" queryParamsHandling="merge">
              {{ friend.getName() }}
            </a>
            <span class="wr">
              {{ friend.getWinrate() }}%
            </span>
          </div>
          <span *ngIf="editModeFriends" class="editFriendButton">
            <button mat-raised-button (click)="onUpdateFriend(friend, false)" class="bgRed"><mat-icon>remove_circle_outline</mat-icon>{{ friend.getName() }}</button>
          </span>
        </mat-list-item>

        <mat-divider></mat-divider>
        <h3 mat-subheader>Colegas ({{ colleagues.length }})</h3>
        <mat-list-item *ngFor="let friend of colleagues">
          <div class="friendNameplate" *ngIf="!editModeFriends">
            <span>
              {{ friend.getTierIcon() }}
            </span>
            <img [src]="friend.getTeamIcon()" class="teamIcon" />
            <a [routerLink]="['/liga/m', friend.getName()]" queryParamsHandling="merge">
              {{ friend.getName() }}
            </a>
            <span class="wr">
              {{ friend.getWinrate() }}%
            </span>
          </div>
          <span *ngIf="editModeFriends" class="editFriendButton">
            <button mat-raised-button (click)="onUpdateFriend(friend, false)" class="bgRed"><mat-icon>remove_circle_outline</mat-icon>{{ friend.getName() }}</button>
          </span>
        </mat-list-item>
      </mat-list>
    </mat-card>

    <mat-card class="friends nonfriends">
      <mat-list>
        <div class="nonfriendsHeader">
          <h3 mat-subheader>Falta amizade ({{ nonfriends.length }})</h3>
          <div class="edit" *ngIf="canIeditFriends">
            <mat-slide-toggle (change)="onEditFriends($event)"
            [(ngModel)]="editModeFriends"></mat-slide-toggle>
            <div class="editButtonLabel">editar</div>
          </div>
        </div>
        <mat-divider></mat-divider>
        <br />
        <mat-list-item *ngFor="let friend of nonfriends">
            <div class="friendNameplate" *ngIf="!editModeFriends">
              <span>
                {{ friend.getTierIcon() }}
              </span>
              <img [src]="friend.getTeamIcon()" class="teamIcon" />
              <a [routerLink]="['/liga/m', friend.getName()]" queryParamsHandling="merge">
                {{ friend.getName() }}
              </a>
              <div *ngIf="player.getCode()" class="wr">
                  <span class="">
                    <span class="code1">{{ friend.getCode(1) }}</span><span class="code2">{{ friend.getCode(2) }}</span><span class="code3">{{ friend.getCode(3) }}</span>
                  </span>
                </div>
            </div>
          <span *ngIf="editModeFriends" class="editFriendButton">
            <button mat-raised-button (click)="onUpdateFriend(friend, true)" class="bgGreen"><mat-icon>add_circle_outline</mat-icon>{{ friend.getName() }}</button>
          </span>
        </mat-list-item>
      </mat-list>
    </mat-card>
  </div>

</div>

