.friendcontainer {
  display: flex;
}

.friends {
  width: 250px;
  margin-right: 10px;
}


.mat-list-item {
  height: 26px;
}

.teamIcon {
  height: 20px;
  width: 20px;
}

.friendsHeader {
  display: flex;
}

.filterff {
  width: 100px;
  height: 0px;
  top: -12px;
  font-size: 0.9em;
}
