<span *ngIf="!tourney">
  Torneio não encontrado
</span>
<div *ngIf="tourney">
  <mat-toolbar color="">
    <mat-toolbar-row class="barRow1">
      <a [routerLink]="['..']">
        {{ tourney.getName() }}
      </a>
      <span class="options">
        <a [routerLink]="['../register']">
          Registro
        </a>
        <a [routerLink]="['../slmaker']" *ngIf="tourney.getFormat() === 'sl'">
          Editar Grupos
        </a>
        <a [routerLink]="['../maker']" *ngIf="tourney.getFormat() === 'main'">
          Tabela
        </a>
      </span>
    </mat-toolbar-row>
    <mat-toolbar-row class="barRow2">
      <mat-slide-toggle [(ngModel)]="modeEdit">Editar</mat-slide-toggle>
      <button mat-raised-button (click)="onClearAll()" color="accent" class="rButt bgRed"><mat-icon>cancel</mat-icon>Apaga tudo</button>
    </mat-toolbar-row>
  </mat-toolbar>
  <br />

  {{ tourney.getName() }}

  <br />
  <br />
  <div class="groupsAndTable">
    <div class="groups">
      <ng-container *ngFor="let g of tourney.getGroups()">
        <mat-card class="groupCard">
          <mat-card-header>
              {{ g.name }}
          </mat-card-header>
          <ng-container *ngFor="let p of tourney.getPlayersFromGroupData(g)">
            <div class="nameplate" *ngIf="!modeEdit">
              <img [src]="p.getTeamIcon()" class="teamIcon" />
              <a [routerLink]="['/liga/m', p.getName()]">
                {{ p.getName() }}
              </a>
              <div class="nameTail"></div>
            </div>
            <div class="selButton addButton" *ngIf="modeEdit">
              <button mat-raised-button (click)="onAddPlayer(p)" class="" [ngClass]="isSelected(p) ? 'selected' : ''"  *ngIf="modeEdit" color="accent">
                <!-- <mat-icon>add_circle_outline</mat-icon> -->
                <img [src]="p.getTeamIcon()" class="teamIcon" />
                {{ p.getName() }}
              </button>
              {{ tourney.getMatchCount(p.getName()) }}
            </div>
          </ng-container>
        </mat-card>
      </ng-container>
    </div>
    <mat-card class="oponentesCard" *ngIf="modeEdit">
      <div *ngIf="selectedPlayer" class="oponentes">
        {{ enemyCount }} Oponentes de
        <div class="nameplate">
          <img [src]="selectedPlayer.getTeamIcon()" class="teamIcon" />
          <a [routerLink]="['/liga/m', selectedPlayer.getName()]">
            {{ selectedPlayer.getName() }}
          </a>
        </div>
        <div>{{ tourney.getMatchCount(selectedPlayer.getName()) }} de {{ tourney.getMaxMatchesForPlayer(selectedPlayer.getName()) }} partidas</div>
        <button mat-raised-button (click)="onClickRandom()" color="accent" class="rButt" [ngClass]="true ? '' : 'cannot'" *ngIf="modeEdit"><mat-icon>shuffle</mat-icon>random</button>
        <br><mat-divider></mat-divider><br>
        <ng-container *ngFor="let p of enemies">
          <div class="nameplate" *ngIf="!modeEdit">
            <img [src]="p.getTeamIcon()" class="teamIcon" />
            <a [routerLink]="['/liga/m', p.getName()]">
              {{ p.getName() }}
            </a>
            <div class="nameTail">
              <div class="addButton">
                <button mat-raised-button (click)="onMatch(p)" class="bgGreen" *ngIf="modeEdit" [ngClass]="canAddMatch(p, selectedPlayer) ? '' : 'cannot'" [disabled]="!canAddMatch(p, selectedPlayer)"><mat-icon>add_circle_outline</mat-icon>add</button>
              </div>
            </div>
          </div>
          <div *ngIf="modeEdit" class="enemyFlex">
            <div class="enemyButton ">
              <button mat-raised-button (click)="onMatch(p)" class="bgGreen" *ngIf="modeEdit" color="" [ngClass]="canAddMatch(p, selectedPlayer) ? '' : 'cannot'" [disabled]="!canAddMatch(p, selectedPlayer)">
                <!-- <mat-icon>add_circle_outline</mat-icon> -->
                <img [src]="p.getTeamIcon()" class="teamIcon" />
                {{ p.getName() }}
              </button>
              <span>{{ tourney.getMatchCount(p.getName()) }}</span>
            </div>
            <div class="delButton" *ngIf="tourney.hasMatch(p.getName(), selectedPlayer.getName())">
              <button mat-raised-button (click)="onDelMatchByPlayers(p, selectedPlayer)" class="bgRed"><mat-icon>remove_circle_outline</mat-icon></button>
            </div>

          </div>
        </ng-container>
      </div>
    </mat-card>
    <mat-card>
      Batalhas
      {{ getMatchesCount() }} de {{ getMatchesMaxTotal() }}
      <mat-divider></mat-divider>
      <div *ngIf="tourney.getMatches()">
        <br />
        <ng-container
          *ngFor="
            let m of tourney
              .getMatches()
              .slice()
              .reverse();
            let i = index
          "
        >
          <div class="matchRow">
            <span class="matchNames"> {{ m.players[0] }} x {{ m.players[1] }} </span>
            <div class="addButton" *ngIf="modeEdit">
              <button mat-raised-button (click)="onDelMatch(i)" class="bgRed"><mat-icon>remove_circle_outline</mat-icon>del</button>
            </div>
          </div>
        </ng-container>
        <br />
      </div>
    </mat-card>
  </div>
</div>
