@import '~@angular/material/_theming';

@include mat-core();

$gengartheme-primary: mat-palette($mat-purple, A200, 700, 800);
$gengartheme-accent: mat-palette($mat-purple, 600, 700, 800);
$gengartheme-warn: mat-palette($mat-red, 600, 500, 700);

$gengartheme: mat-dark-theme($gengartheme-primary, $gengartheme-accent, $gengartheme-warn);

@include angular-material-theme($gengartheme);

$primary: map-get($gengartheme, primary);
$accent: map-get($gengartheme, accent);
$warn: map-get($gengartheme, warn);

mat-card a {
  color: mat-color(mat-palette($mat-amber, 500, 400, 600));
}

button.mat-raised-button.mat-primary {
  background-color: mat-color(mat-palette($mat-purple, A400, 700, 800)) !important;
}

a {
  text-decoration: none;
  outline: 0;
}

mat-toolbar a {
  color: #222; // mat-color($accent, lighter-contrast);
}

.feat {
  color: #ffea00;
}

.red {
  color: #ff5252;
  font-weight: bold;
}
