@import '../../gengartheme.scss';

$primary: map-get($gengartheme, primary);
$accent: map-get($gengartheme, accent);
$warn: map-get($gengartheme, warn);

.tablecontainer {
  width: 400px;
}

.full-width-table {
  width: 100%;
}

a {
  color: mat-color(mat-palette($mat-amber, 500, 400, 600));
}

tr.mat-footer-row, tr.mat-row {
  height: 30px;
}

.mat-column-name {
  width: 100px;
}
.mat-column-team {
  width: 30px;
  max-width: 30px;
}
.mat-column-winrate {
  width: 40px;
}
.mat-column-badges {
  width: 40px;
}
.mat-column-tier {
  width: 40px;
}
.mat-column-friends {
  width: 60px;
}

.teamIcon {
  height: 18px;
  width: 18px;
}

.svgicon {
  height: 14px;
  width: 14px;
}

mat-icon {
  font-size: 16px;
  height: 16px;
  width: 16px;
}

td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
  padding-left: 8px;
}
