<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements" #letable>

    <ng-container matColumnDef="rank">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Rank</th>
      <td mat-footer-cell *matFooterCellDef>{{fr.r}}</td>
      <td mat-cell *matCellDef="let index = index; let row" [matTooltip]="getTooltip('rank', row)">{{row.r}}</td>
    </ng-container>

    <ng-container matColumnDef="cp">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>CP</th>
      <td mat-footer-cell *matFooterCellDef>{{fr.cp}}</td>
      <td mat-cell *matCellDef="let row" [matTooltip]="getTooltip('cp', row)">{{row.cp}}</td>
    </ng-container>

    <ng-container matColumnDef="level">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Level</th>
      <td mat-footer-cell *matFooterCellDef>{{fr.level}}</td>
      <td mat-cell *matCellDef="let pk" [matTooltip]="getTooltip('level', pk)">{{pk.level}}</td>
    </ng-container>

    <ng-container matColumnDef="iv">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>IV</th>
      <td mat-footer-cell *matFooterCellDef>{{fr.iv}}</td>
      <td mat-cell *matCellDef="let pk" [matTooltip]="getTooltip('iv', pk)">{{pk.iv}}</td>
    </ng-container>

    <ng-container matColumnDef="statprod">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Stats</th>
      <td mat-footer-cell *matFooterCellDef>{{fr.statprod}}</td>
      <td mat-cell *matCellDef="let pk" [matTooltip]="getTooltip('stats', pk)">{{pk.statprod}}</td>
    </ng-container>

    <ng-container matColumnDef="pct">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>%</th>
      <td mat-footer-cell *matFooterCellDef>{{fr.pct}}</td>
      <td mat-cell *matCellDef="let pk" [matTooltip]="getTooltip('pct', pk)">{{pk.pct}}</td>
    </ng-container>

    <ng-container matColumnDef="bp">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>BP</th>
      <td mat-footer-cell *matFooterCellDef>{{fr.bp}}</td>
      <td mat-cell *matCellDef="let pk" [matTooltip]="getTooltip('bp', pk)">{{pk.bp}}</td>
    </ng-container>

    <ng-container matColumnDef="duel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Duel</th>
      <td mat-footer-cell *matFooterCellDef>{{fr.duel}}</td>
      <td mat-cell *matCellDef="let pk" [matTooltip]="getTooltip('duel', pk)">{{pk.duel}}</td>
    </ng-container>

    <ng-container matColumnDef="wins">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Wins</th>
      <td mat-footer-cell *matFooterCellDef>{{fr.wins}}</td>
      <td mat-cell *matCellDef="let pk" [matTooltip]="getTooltip('wins', pk)">{{pk.wins}}</td>
    </ng-container>
    <ng-container matColumnDef="losses">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Losses</th>
      <td mat-footer-cell *matFooterCellDef>{{fr.losses}}</td>
      <td mat-cell *matCellDef="let pk" [matTooltip]="getTooltip('losses', pk)">{{pk.losses}}</td>
    </ng-container>
    <ng-container matColumnDef="sum">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Sum</th>
      <td mat-footer-cell *matFooterCellDef>{{fr.sum}}</td>
      <td mat-cell *matCellDef="let pk" [matTooltip]="getTooltip('sum', pk)">{{pk.sum}}</td>
    </ng-container>

    <ng-container matColumnDef="atk">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Atk</th>
      <td mat-footer-cell *matFooterCellDef>{{fr.atk}}</td>
      <td mat-cell *matCellDef="let pk" [matTooltip]="getTooltip('atk', pk)">{{pk.atk}}</td>
    </ng-container>
    <ng-container matColumnDef="def">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Def</th>
      <td mat-footer-cell *matFooterCellDef>{{fr.def}}</td>
      <td mat-cell *matCellDef="let pk" [matTooltip]="getTooltip('def', pk)">{{pk.def}}</td>
    </ng-container>
    <ng-container matColumnDef="hp">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>HP</th>
      <td mat-footer-cell *matFooterCellDef>{{fr.hp}}</td>
      <td mat-cell *matCellDef="let pk" [matTooltip]="getTooltip('hp', pk)">{{pk.hp}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true" #lefoot></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="100"
      [pageSizeOptions]="[100, 500, 1000, 4096]">
  </mat-paginator>
</div>
