.mainCard {
  min-width: 320px;
  max-width: 650px;
  height: 400px;
  padding: 10px 2px;
}

.allLogs {
  height: 380px;
  overflow: auto;
  font-family: monospace !important;
}

.logLine {
  min-width: 400px;
}

.logDate {
  color: #ffca28;
}

.logAuthor {
  color: #bbb;
}
