@import 'app/gengartheme.scss';

$primary: map-get($gengartheme, primary);
$accent: map-get($gengartheme, accent);
$warn: map-get($gengartheme, warn);


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// disable gray background when the icon button is focused
.mat-button,
.mat-icon-button {
  &.cdk-focused,
  &.cdk-program-focused {
    background-color: none !important;

    .mat-button-focus-overlay {
      display: none !important;
    }
  }
}


mat-card {
  margin: 0px;
}

.warning {
  background-color: mat-color($warn);
}

a {
    color: mat-color($accent);
    text-decoration: none;
}

.bgGreen {
  background-color: #66bb6a !important;
}
.bgRed {
  background-color: #ef5350 !important;
}

.move {
  // background-color: red !important;
  // color: red !important;
  // text-shadow: -0px 0px 2px #fff,
  // -1px -1px 1px #fff,
  // 1px 1px 2px #000,
  // 1px 1px 1px #000;
  // 1px 1px 2px #000;
  text-shadow: 1px 1px #0002;
  border-radius: 4px;
  color: #fffa;
  padding: 1px;
}

// type colors from:
// https://bulbapedia.bulbagarden.net/wiki/Category:Type_color_templates

.bug {
  background-color: #A8B820;
}

.dark {
  background-color: #705848;
  // color: #A29288;
}

.dragon {
  background-color: #7038F8;
  // color: #A27DFA;
}

.electric {
  background-color: #F8D030;
  // background-color: #A1871F; // dark
  color: #0008;
}

.fairy {
  background-color: #EE99AC;
  color: #0006;
}

.fighting {
  background-color: #C03028;
}

.fire {
  background-color: #F08030;
}

.flying {
  background-color: #A890F0;
}

.ghost {
  background-color: #705898;
  // color: #A292BC;
}

.grass {
  background-color: #78C850;
}

.ground {
  background-color: #E0C068;
}

.normal {
  background-color: #A8A878;
}

.ice {
  background-color: #98D8D8;
  color: #0006;
}

.poison {
  // color: #A040A0;
  background-color: #C183C1;
}

.psychic {
  background-color: #F85888;
}

.rock {
  background-color: #B8A038;
}

.steel {
  background-color: #B8B8D0;
  color: #0006;
}

.water {
  background-color: #6890F0;
}


.bronze {
  background-color: rgba(134, 81, 81, 0.6);
}
.silver {
  background-color: rgb(163, 157, 157, 0.6);
}
.gold {
  background-color: rgb(201, 177, 133, 0.6);
}
.diamond {
  background-color: rgba(92, 143, 165, 0.6);
}
