@import 'app/gengartheme.scss';

$primary: map-get($gengartheme, primary);
$accent: map-get($gengartheme, accent);
$warn: map-get($gengartheme, warn);


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// disable gray background when the icon button is focused
.mat-button,
.mat-icon-button {
  &.cdk-focused,
  &.cdk-program-focused {
    background-color: none !important;

    .mat-button-focus-overlay {
      display: none !important;
    }
  }
}


mat-card {
  margin: 0px;
}

.warning {
  background-color: mat-color($warn);
}

a {
    color: mat-color($accent);
    text-decoration: none;
  }

.move {
  // background-color: red !important;
  // color: red !important;
  text-shadow: -0px 0px 2px #fff,
  -1px -1px 1px #fff,
  1px 1px 2px #000,
  1px 1px 1px #000;
  // 1px 1px 2px #000;
  // text-shadow: 2px 2px #222;
}

// type colors from:
// https://bulbapedia.bulbagarden.net/wiki/Category:Type_color_templates

.bug {
  color: #A8B820;
}

.dark {
  color: #705848;
  // color: #A29288;
}

.dragon {
  color: #7038F8;
  // color: #A27DFA;
}

.electric {
  color: #F8D030;
}

.fairy {
  color: #EE99AC;
}

.fighting {
  color: #C03028;
}

.fire {
  color: #F08030;
}

.flying {
  color: #A890F0;
}

.ghost {
  color: #705898;
  // color: #A292BC;
}

.grass {
  color: #78C850;
}

.ground {
  color: #E0C068;
}

.normal {
  color: #A8A878;
}

.ice {
  color: #98D8D8;
}

.poison {
  // color: #A040A0;
  color: #C183C1;
}

.psychic {
  color: #F85888;
}

.rock {
  color: #B8A038;
}

.steel {
  color: #B8B8D0;
}

.water {
  color: #6890F0;
}
